<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- (DB) board_no -> (java) boardNo -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- ResultType으로 사용 할 객체의 패키지 경로를 지정 -->
	<typeAliases>
		<package name="aloha.domain"/>
	</typeAliases>
</configuration>